<div>

    <h1>Events</h1>
    <hr>
    <div class="row">
        <div *ngFor='let ev of events' class="col-md-5 boxx">
            <event-thumbnail  [event]='ev' ></event-thumbnail>
            <!-- (eventClick)='handleEventClicked($event)' (click)="handleThumbnailClick(ev.name)" -->
        </div>
    </div>
    <!-- <event-thumbnail #thumbnail  [event]='ev' (eventClick)='handleEventClicked($event)'></event-thumbnail>
    <div class="well">
        <h3>{{thumbnail.someProperty}}</h3>
    </div>
    <button class="btn btn-primary" (click)="thumbnail.logFoo()">Log Foo</button>  -->

</div>